.highcharts-legend-box{
	visibility: hidden;
}

.highcharts-button-symbol{
	visibility: hidden;
}

.return_button {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;

}

.insel_detail_con .introBg {
	display: block;
  position: relative;
  //width: 100%;

  left: 0;
  text-align: left;
  background-position: right bottom;
  background-repeat: no-repeat;

  img {
    display: block;
    position: absolute;
    width: 900px;
		top: 230px;
		left: 50px;
  }
}

.insel_detail_con {
	display: block;
	position: relative;
	min-height: 965px;

	.introBg {
	  width: 100%;
		height: 946px;

	  left: 0;
	  text-align: left;
	  background-position: right bottom;
	  background-repeat: no-repeat;

	  img {
	    display: block;
	    position: absolute;
	    width: 900px;
			top: 230px;
			left: 50px;
	  }
	}

	.intro_detail {
		top: 15px;
		padding: 0 30px;
	}

  .intro_nav {
		top: 90px;
    min-height: 966px;
  }

	.insel_name {
		display: block;
		position: absolute;
		font-size: 35px;
		top: 10px;
		left: 50px;
		width: 752px;
		text-align: center;
		font-family: 'Alegreya Sans', sans-serif;
		//font-family: 'Pacifico', cursive;

		color: #000;
		font-weight: 400;
	}

	.regen {
		top: 100px;
	}

	#legend {
		width: 300px;
		margin: 0 auto;
	}

	.highcharts-button {
		display: none;
	}
}

.uebersicht {
  display: block;
  position: absolute;
  right: 30px;
  width: 450px;

  .haushalt {
    width: 320px;
    height: 150px;
    margin: 55px auto 40px;
    text-align: center;
  }

  #wassertropfen_frisch{
  	width:160px;
  	height:150px;
  	display: block;
  	float: left;
    margin: 0 auto;
    background-size: 80px;
    background-position: center top;
  	background-image: url("../img/layout/wassertropfen_frisch.svg");
  	background-repeat: no-repeat;
  }

  #wassertropfen_verbraucht{
  	width:160px;
  	height:150px;
  	display: block;
  	float: left;
    background-size: 80px;
    background-position: center top;
    background-image: url("../img/layout/wassertropfen_verschmutzt.svg");
    background-repeat: no-repeat;
  }

	#verbrauch_pro_person, #klaranlage_person {
	  font-family: Arial;
	  color: #000;
	  font-size: 16pt;
	  margin-top: 55px;
	  text-align: center;
  }

  .bezeichnung{
    display: block;
    width: 120px;
    text-align: center;
    padding: 0 20px;
  	font-size: 8pt;
  	color: black;
    margin-top: 45px;
  }

	.einleitung {
		width: 330px;
		margin: 0 auto;

		img {
			display: block;
			float: left;
			margin-top: 67px;
			width: 30px;

			& + p {
				display: block;
				float: left;
				width: 280px;
				margin-top: 70px;
				margin-left: 20px;
				color: #666666;
			}
		}
	}
}

.infosatz {
	text-align: center;
	font-size: 12px;
	color: #666666;
	margin-bottom: 10px;
}

.highcharts-credits {
  display: none;
}

.footer {
	display: block;
	float: left;
	bottom: 0;
	z-index: 400;
}
