.intro_con .introBg {
  width: 100%;
  height: 763px;

  left: 0;
  text-align: left;
  background-position: right bottom;
  background-repeat: no-repeat;

  img {
    display: block;
    position: absolute;
    width: 900px;
    top: 20px;
    left: -150px;
  }

}

.intro_con .divpoint2 {
  top: 400px;
  left: 240px;
  width: 40px;
  height: 50px;
}
.intro_con .divpoint3 {
  top: 390px;
  left: 450px;
  width: 60px;
  height: 55px;
}
.intro_con .divpoint4 {
  top: 380px;
  left: 350px;
  width: 60px;
  height: 100px;
}
.intro_con .divpoint5 {
  top: 450px;
  left: 455px;
  width: 28px;
  height: 50px;

}
.intro_con .divpoint6 {
  top: 385px;
  left: 530px;
  width: 120px;
  height: 60px;
}
.intro_con .divpoint7 {
  top: 495px;
  left: 340px;
  width: 40px;
  height: 50px;
}

.intro_con .divpoint10 {
  top: 450px;
  left: 540px;
  width: 70px;
  height: 30px;
}

.intro_con .divpoint12 {
  top: 130px;
  left: 240px;
  width: 30px;
  height: 250px;
}
.intro_con .divpoint13 {
  top: 500px;
  left: 455px;
  width: 28px;
  height: 50px;
}

.regen {
  display: block;
  position: absolute;
  top: 160px;
  left: 300px;
  width: 190px;
  height: 100px;
}

.intro_con .regen {
  left: 270px;
}

.regen-eins {
    position: relative;
    -webkit-animation-name: regen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: regen;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.regen-zwei {
    position: relative;
    -webkit-animation-name: regen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: regen;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}


.regen-drei {
    position: relative;
    -webkit-animation-name: regen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: regen;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
}

.regen-vier {
    position: relative;
    -webkit-animation-name: regen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: regen;
    animation-duration: 0.8s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}

.regen-funf {
    position: relative;
    -webkit-animation-name: regen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: regen;
    animation-duration: 0.8s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
}


.regen-sechs {
    position: relative;
    -webkit-animation-name: regen; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: regen;
    animation-duration: 0.8s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes regen {
    0%   {left:0px; top:0px;}
    100%  {opacity: 0;
    	left:30px; top:200px;}
}

.industrie {
  display: block;
  position: absolute;
  top: 100px;
  left: 300px;
  //width: 100px;
}

.wolke1 {
    position: relative;
    -webkit-animation-name: rauch; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: rauch;
    animation-duration: 3s;
    //animation-delay: 1s;
    animation-iteration-count: infinite;
}
.wolke2 {
    position: relative;
    -webkit-animation-name: rauch2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: rauch2;
    animation-duration: 4s;
    //animation-delay: 1s;
    animation-iteration-count: infinite;
}
.wolke3 {
    position: relative;
    -webkit-animation-name: rauch3; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: rauch3;
    animation-duration: 5s;
    //animation-delay: 2s;
    animation-iteration-count: infinite;
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes rauch {
  0% {
    width: 0px; left:300px; top:300px;
  }
  100% {
    width: 80px; opacity: 0;
    left:150px; top:10px;
  }
}
@-webkit-keyframes rauch2 {
  0% {
    width: 0;
    left:300px; top:300px;
  }
  40% {
    width: 20px; left:200px; top:200px;
  }
  100% {
    width: 80px; opacity: 0;
    left:150px; top:10px;
  }
}
@-webkit-keyframes rauch3 {
  0% {
    width: 0;
    left:300px; top:300px;
  }
  50% {
    width: 0px; left:300px; top:300px;
  }
  100% {
    width: 80px; opacity: 0;
    left:150px; top:10px;
  }
}

.trans {
  position: absolute;
  left: 1110px;
  top: 30px;
}

.pfeil-eins {
    position: relative;
    -webkit-animation-name: transpiration-pfeil; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: transpiration-pfeil;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes transpiration-pfeil {
  0%  {
    left: 0px;
    top:200px;
  }
  100%  {
    opacity: 0;
    left:0px; top:0px;
  }
}
