.intro_detail {
  position: absolute;
  right: 0;
  top: 105px;
  width: 350px;
  height: 600px;
  //margin-top: 40px;
  padding: 0px 40px 0;
  //background: rgba(#fff, 0.8);
  //-webkit-box-shadow: -2px 0px 5px 0px rgba(#fff, 0.8);
  //-moz-box-shadow: -2px 0px 5px 0px rgba(#fff, 0.8);
  //box-shadow: -2px 0px 5px 0px rgba(#fff, 0.8);
  z-index: 1000;

  font-family: 'Alegreya Sans', sans-serif;

  h1 {
    font-size: 28px;
    line-height: 50px;
    margin-top: 40px;
    text-align: center;
  }

  .intro_des {
    font-size: 16px;
    line-height: 20px;
  }
}

.intro_detail_buttons {

  img {
    display: block;
    float: right;
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
  }
}

.intro_con {
  min-height: 820px;

  .intro_nav {
    min-height: 820px;
  }
}

.intro_nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  padding: 0 40px;
  background: #fff;
}
