@import "font.scss";

$base_blue: #5B8FB1;


body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #EFF3F3;

  //background-image: url('../img/bg.png');
  font-family: 'Alegreya Sans', sans-serif;
}

.siteDes {

  img {
    width: 89px;
    height: 120px;
  }

  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  text-align: center;

  @include font-normal;

  h1 {
    @include font-h1;
    margin-bottom: 50px;
  }

  p {
    display: block;
    margin-bottom: 10px;
  }

  #exploreButton {
    //display: block;
    width: 250px;
    height: 60px;
    padding: 15px;
    margin: 30px auto 40px;
    font-size: 18px;

    text-align: center;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    background: none;

    &:hover {
      //color: #fff;
      color: darken(#28B7E0, 30%);
      border: 1px solid darken(#28B7E0, 30%);
      -webkit-box-shadow: 0 0 5px darken(#28B7E0, 20%);
    }
  }
}

.siteInfo {
  display: block;
  //position: absolute;
  width: 100%;
  margin: auto;
  //bottom: 150px;
  height: 80px;
  margin-top: 150px;

  .info_wrap {
    margin: 0 auto;
    height: 100%;
    width: 560px;
  }

  img, p {
    display: block;
    float: left;
  }

  img {
    width: 80px;
  }

  p {
    @include font-info;

    width: 450px;
    margin-left: 30px;
  }
}

footer {
  display: block;
  margin-top: 20px;
  //bottom: 0;
  width: 100%;
  background: #000000;
  text-align: right;
  @include font-info;

  a {
    display: block;
    margin-right: 250px;
    line-height: 50px;
    color: white;
    text-decoration: none;
  }
}

footer.start_footer {
  position: absolute;
  bottom: 0;
}

.impressum_footer {
  min-height: 80px;
}
.siteInfo2 {
  display: block;
  float: left;
  color: #fff;
  margin-top: 0;
  margin-left: 250px;
  height: 80px;

  img {
    width: 50px;
    margin: 5px 0;
  }

  p {
    display: inline-block;
    margin-left: 20px;
    text-align: left;
  }
}

#introYN {
  width: 600px;
  height: 68px;
  margin: auto;
  text-align: center;

  .buttonRow {
    width: 600px;
    margin: auto;
    min-height: 50px;
    margin-top: 15px;

    a {
      display: block;
      float: left;
      margin: 0 25px 0 125px;
      padding: 15px;
      color: #000;
      width: 118px;
      //margin: auto;
      text-align: center;
      text-decoration: none;
      border: 1px solid #000;
      border-radius: 5px;

      &:last-child {
        margin: 0 125px 0 25px;
      }

      &:hover {
        color: darken(#28B7E0, 30%);
        border: 1px solid darken(#28B7E0, 30%);
        -webkit-box-shadow: 0 0 5px darken(#28B7E0, 20%);
      }
    }
  }
}

.display_on {
  display: block;
}

.display_off {
  display: none;
}

.impressum {
  background: #DDDEDE;
  height: auto;
}

.impressum_con {
  width: 900px;
  margin: 0 auto;
}
