/*
Errno::ENOENT: No such file or directory - style.scss

Backtrace:
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:482:in `read'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/plugin.rb:108:in `method_missing'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:384:in `watch_or_update'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/exec/base.rb:52:in `parse'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/lib/sass/exec/base.rb:19:in `parse!'
/Users/Song/.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/sass-3.4.15/bin/sass:13:in `<top (required)>'
/Users/Song/.rbenv/versions/1.9.3-p551/bin/sass:23:in `load'
/Users/Song/.rbenv/versions/1.9.3-p551/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - style.scss"; }
